;;; public entries -*- mode: plstore -*- 
(("%28%22pappanos.gamedev.004%40gmail.com%22%20org-gcal%29%0A"
	:secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22pappanos.work.004%40gmail.com%22%20org-gcal%29%0A" :secret-access-token
	t :secret-refresh-token t :secret-expiration t)
 ("%28%22overwhatch.004%40gmail.com%22%20org-gcal%29%0A" :secret-access-token t
	:secret-refresh-token t :secret-expiration t)
 ("%28%22euro.money004%40gmail.com%22%20org-gcal%29%0A" :secret-access-token t
	:secret-refresh-token t :secret-expiration t)
 ("%28%22lets.mine004%40gmail.com%22%20org-gcal%29%0A" :secret-access-token t
	:secret-refresh-token t :secret-expiration t)
 ("%28%22pappanos.004%40gmail.com%22%20org-gcal%29%0A" :secret-access-token t
	:secret-refresh-token t :secret-expiration t)
 ("%28%22user.idc004%40gmail.com%22%20org-gcal%29%0A" :secret-access-token t
	:secret-refresh-token t :secret-expiration t))
;;; secret entries
"-----BEGIN PGP MESSAGE-----

jA0ECQMKaJCbvkmHyGDq0uoBe+aPOt2lxOWVSrjYdRgffl2RLhgUmDiFGw9CQEi+
NS9jvb30TTUAC7HjvN+2kR/TYQ3mAzwhVz40UHumNeuHHb3ArqT/vWd7V4+cM/0Z
5mSV5SwqDr8lxSwecNR5GG9G+aa3zL4mDVJ1Fgm+8wPXDNH4jhrXeJzVt+e4DKhX
8dlDsSGbLwKUW3HN9GLmDsvWcU0ePIAVe6I1GudrfC/V6poKAEnXCcZOmzy+7on4
lo5S9BVd3eqwZZTK+ZtJXBtE4vlQgwQ8ljr789eq4rzqhvJPI6z49VpNzCQxJvf8
V9/+9COysaEXK1lyOIs9WZWT9wbzUPCpyB1dFMAE840qbiK/lzO1S1opwfFIRKYd
NwKSYB/GaexE/oNz4E7yemjly8kC66+BWKZOXFnAulM+CuD3UX/hvi0hFhjNSoF6
qCV5cHnGxYFQz2hYmhQYUQdolZeI5WleAkT8yfxyO/Jzmm0PPlcyZtkGH9BCM3NQ
156sJeNDPsxMPZY7srIpykebR8udXymx6e20sWMH9io+IEUi2LPG29+znUzOwuLT
MdFUNy7TJ8G94t0Ll3Fmf1t4tS2vAC1lELFQIrMltieZjHYJWKODeAyvPXDFKuO+
njclWS2PRrEiNsToIuxuXp6dlklD85sI7v6KaQNRxhmHP3dNb/xUuuqWA5RWrFek
t8zyHENEuNWY9veKkKK9OOJjz1AzXf2S1sM5yY7rdZ4tqkrfvzGdZmuXwt4Uv1vs
s3vPUFecQBqw/Mih1QUR7La/3HycMX03OmJ3McQH4nUkCqX5+4ZI57wBrLjRrXvl
0EyAsQ2yusz77jHTrmyi24oNOiMVptJDQFFtNk4ERz45PSlxQGdJMRrfhQiRsdVS
bIxVWgfJ+AN53C5W0HxQevZu9Xuqg6TyPpSjrjFjUhDRONgiHPdAMNw1uxqeEEzJ
Rz8krQ0Lrub5CNfBuvKvBs2X9lHHiCaPhWCt4ZG6qKRixel+pdebHRSyrZweUuVL
mV5WmQ2Ppwfrk/YK+v+iMTAgFWh+WtaEji2VQfOwc4KqeWDiUMqiAF7cZ/Jvw1rK
BCp6SDPr1E8BPJWR5Az800VBYVXxnfFEHiC3UkjOUlMglJ6Np5xJrvNbzBKbkp0L
ADcOqu26c9GGVPaGOarCQ5oUIntJFhOxlXyJ6Bh+L6vUpz6Kxy/nh5qW+eH6xnR3
kZ1RiEsg0DNAyInpshEYJymYY/sLWJpIKyV2PCvFoHOncpHTI+DuF9d9ZwiJ+03d
Jq6wgpVaIVZtw20vQ6IU7110hI4CxUThMcosrzQSrjqd5wleecEDOb57ImACoD+9
XYrObulVn2d6SsomDXzgOv5ALrfwFaytPdbt3vlVtMVp6XdqyGdScYcg1PPMhv92
RRRc8wTQZreFFzE2kbJm+LuW3c6B22bYkJUtHUtqVi5/W42h7TN8l/fWjygtFX1N
3C/6AfXW39618qgJ6xw97he65MWz6UrhnBTLp1cgFTrzH6d3kQFRN+R9pVkWhu4P
gfjmYkETd97hhvp6KNpSE7BIdvbgAccI2fbKXByhWXxTIpszYIb0RqqN3Y1BS0cQ
081WRhN0lOdt5gl42MM2qWNKp0zWYHHRoX9XIQCiiIDNHbZH+LnaGq39V2dvWijM
8Ihi7g8OH+NkL82oAlhmQMYFwq/4nO1qBzjTSML25sZuuUEEI6RsQb7Fba/+us7g
Ih5YTSacs2X4FJqpK1BfKzFh7r/P6WcYiYNOZnAtny6xZGP8c0NBqturgJ44ifP4
u1INuwFyrZzbNybIKw2Sly7WPz2TUL2Q4yLt4SqgfmhUiieRuvciohXab2UCFWd3
tX939qBjW42BLKRY7uFrUVuR7PwwNVEKvk21+dGtOFKZsyvfTZutcdd94OtpLeeS
c9hV/9JkviZssYZRjzB1tnqmmoy3msSrFssP9UZlbFNb+xdLBO753WNlaiFBszC1
M2ZdfZHBCBdgM3xTZj7Wg7WTUjBqU3cBywjbMIo8kYHWyaTeYeG7ljZ1rX6h87Af
vGyT+qsAwKiZ1hv+X3t2RbrJwQJCV+9kz1cSOure62nyceZzQjM0ZgLe9VmBrYKL
8g7yevw/5HdSKhyLliifAq7YPANlHVgDAvnz4a3GPdcGWPGfiXXFG/fS3pteBEfp
EtDaCOGurZRwE91Vyf8rv30NjjDIiI3EBzAi3i5a6Bjl6PhZ3d0oUQcBbjLJvJEa
LTTT8X46YmmPjxdY3hq+W+4PdZHO8pQRCgp1Iflfd3lRkIKrkDQnMQsyhr9ljdSb
QcHRP+Sy9WSGcOJUtBXgiIxmKRVWL1C5roKtOZEko/9/QEmYNxbnPIKd1gbSrqVR
SGtQJlWHo8ibkzA0MkL+qxzE3sYtymdUZwjNUfhJ6eucfe+EBkjoR3Gsfr9x9vk+
VtpWAcLNYxvtCGR28Y8PcO3QHqqCBVYaq/jnAbnQX/FTIpHoU/GowRpSyNUdI41I
K8ugdGelhwGkixe4ZyjAm/PYKaqG6PrgKiNLLE/hrb25sLtWdiR/hVlV2dQwoaLh
D4n14mbfNGiU68EVzcPPEpFyypI2dDvFPSK5w7AEctvwEoXXV65MqC76+aOK8zKf
TSHbqH/zvVkEL3acAoTmM9X1IqJwq2T524aDRmcBrWRci4IIFuU=
=wsR6
-----END PGP MESSAGE-----
"
