;;; public entries -*- mode: plstore -*- 
(("%28%22pappanos.gamedev.004%40gmail.com%22%20org-gcal%29%0A"
	:secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22pappanos.work.004%40gmail.com%22%20org-gcal%29%0A" :secret-access-token
	t :secret-refresh-token t :secret-expiration t)
 ("%28%22overwhatch.004%40gmail.com%22%20org-gcal%29%0A" :secret-access-token t
	:secret-refresh-token t :secret-expiration t)
 ("%28%22euro.money004%40gmail.com%22%20org-gcal%29%0A" :secret-access-token t
	:secret-refresh-token t :secret-expiration t)
 ("%28%22lets.mine004%40gmail.com%22%20org-gcal%29%0A" :secret-access-token t
	:secret-refresh-token t :secret-expiration t)
 ("%28%22pappanos004%40gmail.com%22%20org-gcal%29%0A" :secret-access-token t
	:secret-refresh-token t :secret-expiration t)
 ("%28%22user.idc004%40gmail.com%22%20org-gcal%29%0A" :secret-access-token t
	:secret-refresh-token t :secret-expiration t))
;;; secret entries
"-----BEGIN PGP MESSAGE-----

jA0ECQMKjvFhaktITcrm0uoBk4ECP5GsOe+soxMFVhvr3D8OLI7rrQ1qZY00xm+W
YTGGaVcwhZh8IEQ7v5hlS2Y+Yv9nwtEdVnO4BorJvomVUNDpJ1HOY/4wjwwakM8c
5MfeEai/ORZAXO9y5X4efmcOYsxt0vFPokCYDG6EOMCvW30jIUMTH59s/cTZBqMt
3D22zAwgy1Hv8+diAL5bEdqbwHd2wOBGcM2f/CBQc3QnYfcI3bvyG58BfJjDkmWD
63kA8Wku5gOi0Mq1HWiraypZq69ecRa992gvNWvrLrpD1F3w3XxioJCPeg6Y/UuP
NnfVp8nOnYNXIXrK32C7fY1DAoSyijUbHj0EDpFVDtahQOUieJhsUzxp5KRDgWjV
ZMr6PhwY068v/eNkfNfJzPpqurDtuR1r0Kl9Fm6J4scwI3KdDHdW/M28euhpCu89
lk/Hnn6VAH3yl51XlJ7YyBqL1MH7HsgNhPGSyxzQVKIzD3ptV10XpkWC//UtE7m9
b86wCsS/fGxM8crPSld+cxEX8U0/j0cSBHadOt6hX0ispSYGoEvAm2VEI0WZwWg3
nvk1PlC12kI2OE1hd3OQ6p9ckxFX9Z8JIb8zbvJyTQrRPAJa6XsvoTvQgkKmnnZz
h8lXZdxfPL7/rbyYF01KJ2qweBHswwKGTwOWtv04p8qjm3+iIeQcdBkaWfv+9r1L
IR9lGflCe1booD1GW4syA/RNM+r4aejeEu1sZyDiRwp/tIpRfvQR5tLggKbQmcG7
jVLhGqQGVRUN1kXjgsVEQEFJe5b0ZonuLyGKST6e8i9qZj1gOuKqR8ONPlta9kUk
j4WimNzrBROcssREV0pZJDDgzhNC+09tuO16zwnQuI6Ca1cNWWVWHZ2ljk+UWMkF
LHR5/7ioTgwfMdWWTp+ChfZpACOj40YBN3M+5SMhIvUMdvlA5ZIYaCyrvopfU+8T
UBTXnIdkpxD61p+5K6v2A22BgEbwsU5d5RNv5HAeWva1VOnRDglj0fLwyQOSER8h
cFV/2g8TP3jv08ylcnBkHmQt/kWa/jUNQIxAi8kCo7XGCtYjVZpPnIMyUC3uODuI
fGfZffh3HgAHOws+50pitkHP5hFVfbIlDllY0iHYyOEcfXokEnqv2EYAegxCvngT
+c5FPKQ1LyWwFBuuZ6ydDXUadliG4HcxhvyZgQUb6v8EuIXVAqYKr/+3e57JiV9W
DB8q3Q8kySljbuNX5ZbVn3h8XJ7aqNFrePOSMfp80tEtQ1npKfV/PefxGjMYlRjC
PhDRMCFkwqQADydaDvJ+3VtrAAIQGhBmssIBB3n9IDBqqGwMxDwgtsMznwwjOU4N
uLubyK2C4VJ9krpFrPg7iP15Drsf9jFaN6tpkVR/PZzs6QTlM81YYFyNuRb8Hale
tfPX0bvhcBPBz2aTYTzwlSs+oUgNu52dQ1YoOnHw7oKENAUwmiJve1YcdIAfpsyE
BIdfrWO8r8pReLj9CFFkC6HY359Fe68KAtBNv/3uptH4CRCKH6UgKD7MfSWld++z
9YYahOz+CPoKm8N2LBiBQdR6wUPZXf4jsPfpIv++u96aCE6SDKgNjaHcaNmgbwIX
FWibkAKwsQDkixHIChgbmfn1KMg8W3wafhEqN+ThnSdUosebnIGzieYfVoN8ZquL
2ukz7m4e90lFxxf3SWarXZPwA7LTWkWTw8CofobSzE3an6BEAlBdhON7yq9/dUJp
zzCubUfq3gxie5vfPfCoxnit/XLXj1zoYoch2v0nqDN7TX2JmbPzmW1y4HngOrie
GwOKhZxM7oXBdQIjTze3wqdHXbSBHynliH5AKsPZgKzw2PYUGIdTHJhVL36ZNC+9
/leANpbk3uusonufbRpzCVlQdbyzBzdLNGiD4C4LlpFNY/XLNlaYEKiSO9CODP8A
JNKMxPOeom1qYiUMixhxfb4TQlRyYhHBwPC7W2EqTLTxyW9zuKvkBs7E/a1bvzQY
obErxCF52KuDt3Fw9hrUYkcb8ODKYYdupt3JIhDNoCKRcJFlH2o9+c+WQcU6x78u
Z79iLDstTGkoqahiuGIKIu6ewQOvt4srUTHfQJM8AfjEZvYqYY6PVlBH8+PEIYGN
U8Y5Dqz+sQBFwXIjfGI9asNqeDD+QTU8khzNsP38ZJtk3XvGRE7aTI9gUQSPhcMo
ZeEHYLTZpROQMccJ2ZNd3oAxQ2Y6q6QPFFeJQA86JSC87zgVWiGIMaCscxwsPjUp
j+/Am+qltVfM17GGb2GF/ZOGY+3LXR/RjMf8i56um14QgfdwgvsTwO7MegXAs5gi
kGOa4ZPGzePWBGHnACA8gLTYetMK+XUkANzFxc/tVA6Ngp3J8BLAZ7Lq+y+0NGUv
3Mh/3Neq1oFTuF/qVvgv2j8uksgh6iJX6IiMLF15Kh2XLMbm45BreJdRx1rk3ztV
lPQcOijRcCl8xJq/F2vAIUmkLmiLTuXSFUPoxCYcI2s5d35zLD9VgNjs72KFp3Sp
TZyZO8+GO6kD/2VlZKLXA8B0Lm9NqRF+4AM/yphEwgJpp13so+wiBD/t1IrEkdr/
QSRxGUgE5OJAjlIFNtvPMgF+dqrZeqjqMSE1836MPtF5GK6d4v/qjeQrXj6qznim
nWbD754YyhV6PocODkwAoS6dWWRkLnsIvr0LnpBLu3E50UhDffTL
=sY/G
-----END PGP MESSAGE-----
"
